@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap'); 
.attribution a { color: hsl(228, 45%, 44%); }
.attribution { font-size: 11px; text-align: center; }

body {
  font-size: 32px;
  font-weight: 600;
  font-family: 'League Spartan';
  width: 25.2rem;
  background: hsl(222, 26%, 31%);
}
.keypad {
  background-color: hsl(223, 31%, 20%);
  display: grid;
  grid-template-columns: 5rem 5rem 5rem 5rem;
  grid-template-rows: 3rem 3rem 3rem 3rem 3rem;
  grid-gap: 1rem;
  padding: 1.2rem;
  border-radius: 0.6rem;
  color: hsl(60, 10%, 19%);
}
.keypad > div{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  box-shadow: 0 3px hsl(28, 16%, 65%);
 
}
div #reset {
  grid-column: 1/3;
}
div #equal {
  grid-column: 3/5; 
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0 3px hsl(6, 70%, 34%);
}
.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 1.5rem;
  color: white;

}
.theme{
  display: flex;
  text-transform: uppercase;
  align-items: flex-end;

}
.toggle{
  margin-left: 1rem;
  display: grid;
  grid-template-columns: 1.5rem 1.5rem 1.5rem;
  grid-template-rows: 1.5rem 1.5rem;
}
.toggleButton {
  background-color: red;
  grid-column: 1;
  grid-row: 2;
  z-index: 2;
  border-radius: 50%;
  margin: 0.3rem;
}
.togglePosition1{
  grid-column: 1;
}
.togglePosition2{
  grid-column: 2;
}
.togglePosition3{
  grid-column: 3;
}
.toggleBackground {
  grid-column: 1/4;
  grid-row: 2;
  background-color: hsl(223, 31%, 20%);
  border-radius: 2.5rem;
}
div .especial {
  color: white;
  font-size: 22px;
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0 3px hsl(224, 28%, 35%);
}

.screen {
position: relative;
color: white;
background-color: hsl(224, 36%, 15%);
margin: 1.2rem 0;
height: 7rem;
font-size: 3rem;
border-radius: 0.8rem;
}
.screen div{
    position: absolute;
    right: 0%;
    padding: 2rem 1.5rem;
}

.key{
  cursor: pointer;
}