  .keypad .theme3{
    background-color: hsl(268, 71%, 12%);
    color: hsl(52, 100%, 62%);
  }
  div .key .theme3{
    background-color: hsl(281, 89%, 26%);
    box-shadow: 0 3px  hsl(285, 91%, 52%);
  }
  div .theme3 #equal {
    background-color: hsl(176, 100%, 44%);
    box-shadow: 0 3px hsl(177, 92%, 70%);
    color: hsl(198, 20%, 13%);
  }
  .header .theme3{
    color: hsl(52, 100%, 62%);
  }
  .toggleButton .theme3 {
    background-color: hsl(176, 100%, 44%);
  }
  .toggleBackground .theme3 {
    background-color: hsl(268, 71%, 12%);
  }
  div .theme3 .especial {
    background-color: hsl(268, 47%, 21%);
    box-shadow: 0 3px hsl(290, 70%, 36%);
    color: hsl(0, 0%, 100%);
  }
  
  .screen .theme3{
  color: hsl(52, 100%, 62%);
  background-color: hsl(268, 71%, 12%);
  }