
.attribution a { color: hsl(228, 45%, 44%); }
.attribution { font-size: 11px; text-align: center; }

body {
  font-size: 32px;
  font-weight: 600;
  

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 25rem;

}
.keypad {
  
  display: grid;
  grid-template-columns: 5rem 5rem 5rem 5rem;
  grid-template-rows: 3rem 3rem 3rem 3rem 3rem;
  grid-gap: 1rem;
  padding: 1.2rem;
  border-radius: 0.6rem;
 
}
.key{
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  
 
}
div #reset {
  grid-column: 1/3;
}
div #equal {
  grid-column: 3/5; 
  
}
.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 1.5rem;
  

}
.theme{
  display: flex;
  text-transform: uppercase;
  align-items: flex-end;

}
.toggle{
  margin-left: 1rem;
  display: grid;
  grid-template-columns: 1.5rem 1.5rem 1.5rem;
  grid-template-rows: 1.5rem 1.5rem;
}
.toggleButton {
  
  grid-row: 2;
  z-index: 2;
  border-radius: 50%;
  margin: 0.3rem;
}
.togglePosition1{
  grid-column: 1;
}
.togglePosition2{
  grid-column: 2;
}
.togglePosition3{
  grid-column: 3;
}
.toggleBackground {
  grid-column: 1/4;
  grid-row: 2;

  border-radius: 2.5rem;
}
div .especial {

  font-size: 22px;
}

.screen {
position: relative;

margin: 1.2rem 0;
height: 7rem;
font-size: 3rem;
border-radius: 0.8rem;
}
.screen div{
    position: absolute;
    right: 0%;
    padding: 2rem 1.5rem;
}

.key, #theme-one, #theme-two, #theme-three{
  cursor: pointer;
}